!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title mercari
    %link{:href => "test4.css", :rel => "stylesheet"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
    %link{:href => "https://www.google.com/recaptcha/api.js", :rel => "stylesheet"}/
  %body
    .mercari-header
      %h1
        %a{:href => "#"}
          %img{:src => "/assets/logo.svg", :style => "background: rgb(245, 245, 245);"}/
    .main-adress
      .main-adress_header
        %h2 会員情報入力
      .main-adress_contents
        .main-adress_contents-form
          .main-adress_contents-form_field
            %p
              お名前　　
              %span.main-adress_contents-form_field-span-red 必須
            %input{:placeholder => "例) 山田"}/
            %input.main-adress_contents-form_field-input-name{:placeholder => "例) 花hana太郎"}/
            %p
              お名前カナ
              %span.main-adress_contents-form_field-span-red 必須
            %input{:placeholder => "例）ヤマダ"}/
            %input.main-adress_contents-form_field-input-name{:placeholder => "例）ハナタロウ"}/
            %p
              郵便番号
              %span.main-adress_contents-form_field-span-red 必須
            %input{:placeholder => "例) 123-4567"}/
            %p
              都道府県
              %span.main-adress_contents-form_field-span-red 必須
            %input{:placeholder => "例）北海道"}/
            %p
              市町村　　
              %span.main-adress_contents-form_field-span-red 必須
            %input{:placeholder => "例）大阪市"}/
            %p
              番地
              %span.main-adress_contents-form_field-span-red 必須
            %input{:placeholder => "例）船橋市２−２３ー８"}/
            %p
              建物名
              %span.main-adress_contents-form_field-span-gray 必須
            %input{:placeholder => "例）ユタカビル"}/
            %p
              電話
              %span.main-adress_contents-form_field-span-gray 必須
            %input{:placeholder => "例）080-5344-0766"}/
            %button.main-adress_contents-form_field_submit{:type => "submit"} 次へ進む
      .mercari-footer
        %nav
          %ul
            %li プライバシーポリシー
            %li メルカリ利用規約
            %li 特定商取引に関する表記
        .mercari-footer_contents
          %a.single-footer-logo{:href => "#"}
            %img{:src => "/assets/mercari.svg", :style => "background: rgb(245, 245, 245);"}/
          %p
            %small © 2019 Mercari
