!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title mercari
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
    %link{:href => "https://www.google.com/recaptcha/api.js", :rel => "stylesheet"}/
  %body.mercari
    .mercari-header
      %h1
        %a{:href => "#"}
          %img{:src => "/assets/logo.svg", :style => "background: rgb(245, 245, 245);"}/

    .info-credit
      .info-credit_header
        %h2 支払い番号
      .info-credit_contents
        .info-credit_contents_form
          .info-credit_contents_form_field
            %p
              カード番号　　
              %span.span-red 必須
            %input.info-credit_contents_form_field_input{:placeholder => "半角数字のみ"}/
            .info-credit_contents_form_field-cards
              %img.card{:src => "/assets/visa.svg"}/
              %img.card{:src => "/assets/master-card.svg"}/
              %img.card{:src => "/assets/saison-card.svg"}/
              %img.card{:src => "/assets/jcb.svg"}/
              %img.card{:src => "/assets/american_express.svg"}/
              %img.card{:src => "/assets/dinersclub.svg"}/
              %img.card{:src => "/assets/discover.svg"}/
            = form_tag(action: :purchase, method: :post) do 
              .info-credit_contents_form_field_date
                %p
                  有効期限　　　
                  %span.span-red 必須
                %li
                  %input.input-num{:type => "number"}/
                  %p 月
                %li
                  %input.input-num{:type => "number"}/
                  %p 日
              %p
                セキュリティーコード
                %span.span-red 必須
              %input.info-credit_contents_form_field_input-content{:placeholder => "カードの背面の４桁もしくは３桁の番号"}/
              %p.sentence-blue カード裏側の番号とは？
              %button.submit{:type => "submit"} 次へ進む
      .mercari-footer
        %nav
          %ul
            %li プライバシーポリシー
            %li メルカリ利用規約
            %li 特定商取引に関する表記
        .mercari-footer_contents
          %a.single-footer-logo{:href => "#"}
            %img{:src => "/assets/mercari.svg", :style => "background: rgb(245, 245, 245);"}/
          %p
            %small © 2019 Mercari
