.item-description-for-sign_in
  %p.itemdecription-in
    = @item.introduction


%section.itembox-container-signin

  =link_to edit_item_path(@item.id) do
    %button.send-edit-btn
      商品の編集
  %p.choice
    or
  %button.stop-sell-btn{type: "submit"}
    出品を一旦停止する
  = link_to  item_path(@item.id),id: "delete-btn", method: :delete do
    %button#delete-sell-btn{type: "submit"}
      この商品を削除する
