.mercari-header
  %h1
    %a{href: "#"}
      %img{src: "logo.svg", style: "background: rgb(245, 245, 245);"}/

.sell-main-content.clearfix
  .sell-item-container
    .sell-container-inner
      %h2.sell-container-header 商品の情報を入力
    %form.sell-form
      .sell-upload-box
        %h3.sell-upload-text
          出品画像
          %span.form-require 必須
        %p.upload-image 最大10枚までアップロード出来ます
        %label.sell-image-dropbox
          %input.sell-upload-drop-file{type: "file", name: "sellimage", style: "display: none;"}
          %pre.visible-pc
            ドラッグアンドドロップ
            またはクリックしてファイルをアップロード
      .sell-items-content.clearfix
        .form-item-name
          %label.sell-item-name
            商品名
            %span.form-require 必須
        .input-form-groups
          %input.sell-item-name{type: "text", placeholder: "商品名（必須40文字まで）"}
        .input-form-groups
          .form-item-name
            %label.sell-item-name
              商品の説明
              %span.form-require 必須
          %textarea.sell-item-info{type: "input",rows: "5", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
      .sell-items-content.clearfix
        %h3.sell-detail-text
          商品の詳細
        .sell-form-box
          .sell-form-groups
            %label.sell-item-name
              カテゴリー
              %span.form-require 必須
              .select-wrap-category
                %select.select-category
                  %option ---
                  %option{value: "1"} レディース
                  %option{value: "2"} メンズ
                  %option{value: "3"} ベビーキッズ
                  %option{value: "4"} インテリア・住まい・小物
                  %option{value: "5"} 本・音楽・ゲーム
                  %option{value: "1328"} おもちゃ・ホビー・グッズ
                  %option{value: "6"} コスメ・香水・美容
                  %option{value: "7"} 家電・スマホ・カメラ
                  %option{value: "8"} スポーツ・レジャー
                  %option{value: "9"} ハンドメイド
                  %option{value: "1027"} チケット
                  %option{value: "1318"} 自動車・オートバイ
                  %option{value: "10"} その他
                %i.fas.fa-angle-down

          .sell-form-groups
            %label.sell-item-name
              商品の状態
              %span.form-require 必須
              .select-wrap-category
                %select.select-category
                  %option ---
                  %option{value: "1"} 新品、未使用品
                  %option{value: "2"} 未使用に近い
                  %option{value: "3"} 目立った傷や汚れなし
                  %option{value: "4"} やや傷や汚れあり
                  %option{value: "5"} 全体的に状態が悪い
                %i.fas.fa-angle-down


      .sell-items-content.clearfix
        %h3.sell-detail-text
          配送について
          = link_to items_sell_path do
            %i.fas.fa-question-circle
        .sell-form-box
          .sell-form-groups
            %label.sell-item-name
              発送料の負担
              %span.form-require 必須
              .select-wrap-category
                %select.select-category
                  %option ---
                  %option{value: "2"} 送料込み（出品者負担）
                  %option{value: "1"} 着払い（購入者負担）
                %i.fas.fa-angle-down

          .sell-form-groups
            %label.sell-item-name
              発送元の地域
              %span.form-require 必須
              .select-wrap-category
                %select.select-category
                  %option ---
                  %option{value: "1"} 関西
                  %option{value: "2"} 北海道
                  %option{value: "3"} 東北
                  %option{value: "4"} 関東
                  %option{value: "5"} 中部
                  %option{value: "6"} 四国
                  %option{value: "7"} 九州
                  %option{value: "8"} 沖縄
                %i.fas.fa-angle-down

          .sell-form-groups
            %label.sell-item-name
              発送までの日数
              %span.form-require 必須
              .select-wrap-category
                %select.select-category
                  %option ---
                  %option{value: "1"} 1~2日で発送
                  %option{value: "2"} 2~3日で発送
                  %option{value: "3"} 4~7日で発送
                %i.fas.fa-angle-down

      .sell-items-content-calc
        %h3.sell-price-text
          販売価格(300〜9,999,999)
          = link_to items_sell_path do
            %i.fas.fa-question-circle
        .sell-form-box
          .sell-form-groups-list
            .sell-item-price-left
              %label.sell-item-name-left
                価格
                %span.form-require 必須
            .sell-item-price-right
              .input-form-groups
                ¥
                %input.sell-item-price{type: "text", placeholder: "例）300"}
          .sell-form-groups-list
            .sell-item-carc-left
              販売手数料(10%)
            .sell-item-carc-right
              ー
          .sell-form-groups-list-ans
            .sell-item-ans-left
              販売利益
            .sell-item-ans-right -

      .sell-items-content-btn
        .sell-items-coution-box
          =link_to items_sell_path, class: "sell-coution-message"  do
            禁止されている出品
          、
          =link_to items_sell_path, class: "sell-coution-message" do
            行為
          を必ずご確認ください。
          .coution-middle
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          =link_to items_sell_path, class: "sell-coution-message" do
            偽ブランドの販売
          は犯罪であり処罰される可能性があります。
          .coution-bottom
          また、出品を持ちまして
          =link_to items_sell_path, class: "sell-coution-message" do
            加盟店規約
          に同意したことになります。
        %button.send-sell-btn
          出品する
        %button.back-sell-btn
          もどる

.mercari-footer
  %nav
    %ul
      %li プライバシーポリシー
      %li メルカリ利用規約
      %li 特定商取引に関する表記
  .mercari-footer_contents
    %a.single-footer-logo{href: "#"}
      %img{src: "mercari.svg", style: "background: rgb(245, 245, 245);"}/
    %p
      %small © 2019 Mercari
