%header.pc-header
  .pc-header-inner
    .clearfix
      %h1.pc-left
        %a{:href => ""}
          %img{:height => "35",:alt => "mercari", :src => "/assets/logo.svg"}/
      %form.pc-header-form{:action => ""}
        %input.input{:name => "keyword", :placeholder => "キーワードから探す", :type => "search"}/
        %i.fas.fa-search
    .clearfix-box
      .head-left
        %ul.menu
          %li
            %h2.menu-down
              %a{:href => ""} カテゴリーから探す
            %ul.pull-left{:style => "width: auto;"}
              %li
                %a{:href => ""} レディース
              %li
                %a{:href => ""} メンズ
              %li
                %a{:href => ""} ベビー・キッズ
              %li
                %a{:href => ""} インテリア・住まい・小物
              %li
                %a{:href => ""} 本・音楽・ゲーム
              %li
                %a{:href => ""} おもちゃ・ホビー・グッズ
              %li
                %a{:href => ""} コスメ・香水・美容
              %li
                %a{:href => ""} 家電・スマホ・カメラ
              %li
                %a{:href => ""} スポーツ・レジャー
              %li
                %a{:href => ""} ハンドメイド
              %li
                %a{:href => ""} チケット
              %li
                %a{:href => ""} 自転車・オートバイ
              %li
                %a{:href => ""} その他
              %li
                %a{:href => ""} カテゴリー一覧
          %li
            %h2.menu-down
              %a{:href => ""} ブランドから探す
            %ul.pull-right{:style => "width: auto;"}
              %li
                %a{:href => ""} シャネル
              %li
                %a{:href => ""} ナイキ
              %li
                %a{:href => ""} ルイ ヴィトン
              %li
                %a{:href => ""} シュプリーム
              %li
                %a{:href => ""} アディダス
              %li
                %a{:href => ""} ブランド一覧
      .head-right
        .btn-case
          %button.log-btn{:onclick => "location.href=", :type => "button"} ログイン
          %button.new-btn{:type => "button"} 新規会員登録
= render "/layouts/mypage"
= render "/layouts/footer"
