.item-box-main-content{
  width:auto;
  margin: 50px 10% 50px 16%;
  section{
    height: 1000px;
    margin: 0;
    padding: 0;
    h1{
      font-size: 22px;
      margin: 24px 4% 8px;
      line-height: 1.4;
    }
    .item-category-list{
      width: auto;
      margin: 0 auto;
      .item-category-box{
        .items-box{
          margin-bottom: 20px;
          a{
            text-decoration: none;
          }
        }
      }
    }
  }
}
