.mercari{
	height:756px;
  background: rgb(245, 245, 245);
  &-header{
     h1 {
      height: 49px;
      width: 193px;
      margin: 0 auto;
      padding: 30px;
      }
  }
  &-footer {
    height: 140px;
    width: 456px;
    margin: 0 auto;
    padding:70px 0 ;
    &_contents {
      height: 65px;
      width: 80px;
      margin: 0 auto;
      p {
        font-size: 12px;
      }
    }

    li {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
    }
  }
}
 .main-regstration {
 	height: 408px;
 	text-align: center;
  &_header {
    background-color: white;
    height: 33px;
    width: 668px;
    padding: 32px 16px;
    margin:0 auto;
    border-bottom: 1px ridge grey;
    h1 {
      font-size: 23px;
    }
  }
    &_body {
      width: 572px;
      height: 187px;
      padding: 64px;
      margin: 0 auto;
      background-color: white;
      a {
        font-size: 12px;
      }

      &_bottun {
        height: 182px;
        width: 320px;
        margin: 0 126px;
        padding-left: 22px;
        a {
         margin-top: 15px;
        }
        span {
        height: 16px;
        width: 20px;
        }
      }
  }
 }
.email {
  background-color: #eee;
  color: #000;
}

.facebook {
  background-color: #385185;
  color: white;

}

.google {
  background-color: #dc4e41;
  color: white;
}

.btn {
  padding: 14px 72px;
  float: left;
  height: 24px;
  width:160px;
  margin-top: 15px;
}

.info {
  height: 834px;
  &-header {
    width:668px;
    height: 33px;
    padding: 32px 16px;
    margin: 0 auto;
    background-color: white;
    h2 {
     text-align: center;
     font-size: 18px;
    }
  }

    &-contents {
      height: 608px;
      width: 572px;
      padding: 64px;
      background-color: white;
      margin: 0 auto;

      &_form {
        height: 608px;
        width: 320px;
        margin: 0 126px;
      }
    }
}
 .info-contents_form_field {
      input{
        height: 28px;
        width: 290px;
        padding: 10px 16px;
        margin-bottom: 30px;
      }
        p {
           margin-top: 10px;
         }
        span{
          background-color: red;
          color: white;
          font-size: 12px;
          padding: 5px;
         }

 }
.info-contents_form__field_submit{
  padding: 16px 127px;
  margin-right:20px;
  margin-top:60px;
  background-color: #ea352d;
  color: white;
}


.main-adress {
  height: 834px;
  &_header {
    width:668px;
    height: 33px;
    padding: 32px 16px;
    margin: 0 auto;
    background-color: white;
    h2 {
      text-align: center;
      font-size: 18px;
    }
  }
  &_contents {
    height: 1108px;
    width: 572px;
    padding: 64px;
    background-color: white;
    margin: 0 auto;

    &-form {
      height: 608px;
      width: 320px;
      margin: 0 126px;
    }
  }
}

 .main-adress_contents-form_field {
      input{
        height: 28px;
        width: 290px;
        padding: 10px 16px;
        border-radius: 1px;
      }
      p {
        margin-top: 10px;
      }
      span{
        color: white;
        font-size: 12px;
        padding: 5px;
      }
      &_submit{
        padding: 16px 127px;
        margin-right:20px;
        margin-top:130px;
        background-color: #ea352d;
        color: white;
      }
      &-input-name{
        margin-top: 10px;
      }

      &_span-red{
        background-color: red;
      }

      &_span-gray {
        background-color: gray;
      }
 }



.info-credit {
  height: 634px;
  &_header {
    width:668px;
    height: 33px;
    padding: 32px 16px;
    margin: 0 auto;
    background-color: white;

    h2 {
      text-align: center;
      font-size: 18px;
    }
  }
  &_contents {
    height: 478px;
    width: 572px;
    padding: 64px;
    background-color: white;
    margin: 0 auto;

    &_form {
      height: 408px;
      width: 320px;
      margin: 0 126px;
    }
  }
    span{
      color: white;
      font-size: 12px;
      padding: 5px;
   }
}

.info-credit_contents_form_field_input {
 padding: 10px 16px;
 border-radius: 1px;

 &-content{
    height: 28px;
    width: 290px;
 }



}

.input-num {
  height: 28px;
  width: 40px;
  display: inline-block;
   border-radius: 10px;
}


 .info-credit_contents_form_field p {
  margin-top: 10px;
 }

.info-credit_contents_form_field-cards {
  height: 20px;
  width: 320px;
}

.card{
  display: inline-block;
  width: 30px;
  height: 35px;
  margin-left: 10px;
}



.span-red{
  background-color: red;
 }

.span-gray {
  background-color: gray;
}
.submit{
  padding: 16px 127px;
  margin-right:20px;
  margin-top:40px;
  background-color: #ea352d;
  color: white;
}

.info-credit_contents_form_field_date li {
  display: inline-block;
  font-size: 12px;
  padding-right: 15px;
}

.sentence-blue {
  color: blue;
  padding-left: 200px;
  font-size: 10px;
}


.main-finish {
  height: 408px;
  text-align: center;

  &_header{
    height: 64px;
    width:1220px;
    padding: 20px 64px 40px 64px ;
    background-color: white;
    margin: 0 auto;
    p {
    font-size: 30px;
    }
  }
    &_contents {
      height: 550px;
      width:1220px;
      padding: 24px 64px 32px 64px;
      margin: 0 auto;
      background-color: white;

      a {
        font-size: 12px;
        margin-top: 40px;
      }
    }
 }

.main-login {
  height: 408px;
  text-align: center;
  text-decoration: none;
  &-reg{
    height: 64px;
    width:328px;
    padding: 20px 64px 40px 64px ;
    background-color: white;
    margin: 0 auto;
    a {
      padding: 9px 72px;
      float: left;
      height: 24px;
      width:160px;
      background: #0099e8;
      color: #fff;
      text-decoration: none;
     }
   }

  &_header {
    width: 666px;
    height: 33px;
    padding: 32px 16px ;
    margin: 0 auto;
    background-color: white;
    border-bottom: 0.5px ridge #C0C0C0;
    h1 {
        font-size: 20px;
        margin :0 auto;
       }
  }

  &_body {
      width: 328px;
      height: 116px;
      padding: 32px 64px;
      margin: 0 auto;
      background-color: white;
      a {
        font-size: 14px;
        text-decoration: none;
      }
    &_bottun {
      height: 182px;
      width: 320px;
      a {
         margin-top: 15px;
      }
    }

    &_contents {
      height: 400px;
      width:328px;
      padding: 24px 64px 32px 64px;
      margin: 0 auto;
      background-color: white;
      font-size: 14px;
      a {
        font-size: 10px;
        margin-top: 40px;
      }
      input#user_password {
        padding: 10px 16px;
        height: 28px;
        width: 270px;
        margin-right:20px;
        margin-top:10px;
        margin-bottom: 40px;
       }
       input#user_email {
        padding: 10px 16px;
        height: 28px;
        width: 270px;
        margin-right:20px;
        margin-top:10px;
      }
    }
  }
}

.email {
  background-color: #eee;
  color: #000;
}

.facebook {
  background-color: #385185;
  color: white;

}

.google {
  background-color: #dc4e41;
  color: white;
}

.btn {
  padding: 14px 72px;
  float: left;
  height: 24px;
  width:160px;
}

.login-form {
  padding: 16px 127px;
  margin-right:20px;
  margin-top:50px;
  background-color: #ea352d;
  color: white;
}
