.pc-footer{
  width: 100vw;
  height: 100vh;
  clear: both;
  .app-footer{
    height: 33vh;
    width: auto;
    background-image: image-url("footerimage.png");
    background-size: auto;
  }
  .global-footer{
    height: 80vh;
    width: auto;
    background-image: image-url("/assets/footerbottom.png");
    background-size: 1450px;
  }
}
