// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "color";

section.buy-item-container {
  background-color: $white;
  width: 700px;
  margin: 0 auto;
}

h2.buy-confimation {
  text-align: center;
  font-size: 22px;
  padding-top: 32px;
  padding-bottom: 10px;
}

.buy-content {
  text-align: center;
  border-top: 1px solid #eee;
}

.buy-content-inner {
  padding: 24px 12.5% 0;
  max-width: 320px;
  margin: 0 auto;
}

.buy-item-image {
  img {
  width: 148px;
  height: auto;
  }
}
p.buy-item-name {
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}
p.buy-price {
  margin: 8px 0 0;
  line-height: 1.5;
  font-weight: bold;
  font-size: 22px;
}

span.item-shipping-fee {
  margin: 0 0 0 8px;
  font-size: 14px;
  font-weight: 400;
}

.buy-accordion {
  background-color: $graybtn;
  margin: 16px auto;
  padding: 16px;
  border: 1px solid $graybtn;
  font-size: 14px;
}

.buy-price-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    font-size: 26px;
    font-weight: 600;
    .buy-price-cell:first-child {
    text-align: left;
    float: left;
    }
    .buy-price-cell {
    display: table-cell;
    padding: 16px 0;
    width: 50%;
    text-align: right;
    float:right;
    }
    span.data-buy-pay {
      font-size: 24px;
    }
}

button.send-buy-btn {
  margin: 16px 0 0;
  width: 100%;
  height: 50px;
  background-color: $redbtn;
  border: 1px solid $redbtn;
  font-size: 14px;
  color: white;
}

section.buy-content-user-info {
  margin: 40px 0 0;
  border-top: 1px solid #f5f5f5;
}

h3.shippnig-for {
  font-size: 14px;
}

address.buy-user-info-text {
  margin: 8px 0 0;
  font-size: 13px;
  line-height: 1.4;
  font-style: normal;
}

a.buy-user-info-fix {
  text-decoration: none;
  color: $outline;
  display: block;
  text-align: right;
  font-size: 13px;
}

  h3.buy-card-info {
    font-size: 14px;
  }

.buy-user-info-text {
  font-size: 12px;
}

section.buy-content-card-info {
  margin: 40px 0 0;
  border-top: 1px solid #f5f5f5;
  padding-bottom: 40px;
}

.buy-user-card-image {
  vertical-align: middle;
  img {
  width: 45px;
  height: auto;
  }
}

a.buy-card-info-fix {
  text-decoration: none;
  color: $outline;
  display: block;
  text-align: right;
  font-size: 13px;
}
