.main-page
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        %img{:height => "100%",:width => "100%",:alt => "Swiper01", :src => "/assets/banner/dum01.gif"}/
      .swiper-slide
        %img{:height => "100%",:width => "100%",:alt => "Swiper02", :src => "/assets/banner/dum02.gif"}/
      .swiper-slide
        %img{:height => "100%",:width => "100%",:alt => "Swiper03", :src => "/assets/banner/dum03.gif"}/
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
    :javascript
      var swiper = new Swiper('.swiper-container', {
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        loop: true,
        speed: 500,
        pagination: {
        el: '.swiper-pagination',
        type: 'bullets'
        },
        autoplay:{
        delay: 4000,
         disableOnInteraction: false
        },
      });
  .pickup-page
    %h2.pickup-head ピックアップカテゴリー
    .main-section
      %h3.section-name メンズ 新着アイテム
      .section-item
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
      .section-all
        %a{:href => ""}すべての商品を見る
    .main-section
      %h3.section-name レディース 新着アイテム
      .section-item
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
      .section-all
        %a{:href => ""}すべての商品を見る
    .main-section
      %h3.section-name ベイビー 新着アイテム
      .section-item
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
      .section-all
        %a{:href => ""}すべての商品を見る
    %h2.pickup-bottom ピックアップブランド
    .main-section
      %h3.sction-brand シャネル 新着アイテム
      .brand-item
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
      .section-all
        %a{:href => ""}すべての商品を見る
    .main-section
      %h3.sction-brand ナイキ 新着アイテム
      .brand-item
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
      .section-all
        %a{:href => ""}すべての商品を見る
    .main-section
      %h3.sction-brand アディダス 新着アイテム
      .brand-item
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
        .items-box
          %a{:href => ""}
            %img{:src => "/assets/banner/dum01.gif"}
            .item-box-body
              .item-box-name テストの商品です
              .item-box-price
                .price-section¥7,777
                .item-liks
                  %i.far.fa-heart
                  %span 10
                %p.item-tax (税込)
      .section-all
        %a{:href => ""}すべての商品を見る
