%header.pc-header
  .pc-header-inner
    .clearfix
      %h1.pc-left
        = link_to "/" do
          =image_tag asset_path("logo.svg"),alt: "mercari"
      %form.pc-header-form{action: ""}
        %input.input{name: "keyword", placeholder: "キーワードから探す", type: "search"}/
        %i.fas.fa-search
    .clearfix-box
      .head-left
        %ul.menu
          %li
            %h2.menu-down
              =link_to 'カテゴリーから探す',""
            %ul.pull-left
              %li
                =link_to 'レディース',""
              %li
                =link_to 'メンズ',""
              %li
                =link_to 'ベビー・キッズ',""
              %li
                =link_to 'インテリア・住まい・小物',""
              %li
                =link_to '本・音楽・ゲーム',""
              %li
                =link_to 'おもちゃ・ホビー・グッズ',""
              %li
                =link_to 'コスメ・香水・美容',""
              %li
                =link_to '家電・スマホ・カメラ',""
              %li
                =link_to 'スポーツ・レジャー',""
              %li
                =link_to 'ハンドメイド',""
              %li
                =link_to 'チケット',""
              %li
                =link_to '自転車・オートバイ',""
              %li
                =link_to 'その他',""
              %li
                =link_to 'カテゴリー 一覧',""
          %li
            %h2.menu-down
              =link_to 'ブランドから探す',""
            %ul.pull-right
              %li
                =link_to 'シャネル',""
              %li
                =link_to 'ナイキ',""
              %li
                =link_to 'ルイ・ヴィトン',""
              %li
                =link_to 'シュプリーム',""
              %li
                =link_to 'アディダス',""
              %li
                =link_to 'ブランド一覧',""
      .head-rights
        %ul.head-right-user
          %li
            =link_to users_show_path,class: "head-user-icon" do
              %figure
                .user-icon-right
                  =image_tag asset_path("")
              .user-icon マイページ
            .head-user-icon-box
          %li
            =link_to "",class: "head-right-root" do
              =fa_icon("bell")
              %span お知らせ
          %li
            =link_to "",class: "hea-right-list" do
              =fa_icon("check")
              %span やることリスト
